<%- include('../partials/header') %>

  <h1>Dev Skills</h1>
  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          - 
        <%= s.level %>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add a Skill</a>
  
  <%- include('../partials/footer') %>